/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/*==================== fonts  =======================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url("../fonts/montserrat-light_[allfont.net].ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*----------------------------------*/


.typed-cursor{
    opacity: 1;
    font-weight: 100;
    color: #fff;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    position: relative;
    top: -2px;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}


/*----------------------------------*/

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

body {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: #222;
}

a,
.btn,
button {
    text-decoration: none;
    outline: none;
    transition: all 0.6s ease-in-out;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}
.btn.view-demo.active{
    outline: none !important;
    box-shadow: none !important;
}

p {
    margin: 0px;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0px;
}

section.row,
header.row,
footer.row {
    margin: 0;
}

body {
    overflow-x: hidden;
}


/*====Hero area==*/

.hero-area-fix {
    position: relative;
    width: 100%;
    content: '';
    background: url(../image/header/slider-1.jpg) no-repeat scroll center center;
    background-size: cover;
    min-height: 900px;
    z-index: 1;
}

.product-landing .col-md-4{
    margin-bottom: 40px;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.hero-text h1 {
    font-family: 'Montserrat';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 20px;
}

.hero-text h3 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 40px;
    margin-top: 24px;
    margin-bottom: 25px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    min-height: 40px;
}

.hero-text h4 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 60px;
}

.view {
    font-family: 'Montserrat';
    font-size: 13px;
    text-transform: uppercase;
    border: #f07000 2px solid;
    color: #fff;
    padding: 15px 62px;
    border-radius: 50px;
    margin-right: 15px;
}

.view:hover {
    color: #f07000;
}

@keyframes slideShow {
    0% {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1);
    }
    5% {
        opacity: 1
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        transform: scale(1.1);
        -ms-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1);
    }
}

@-o-keyframes slideShow {
    0% {
        opacity: 1;
        -o-transform: scale(1);
    }
    5% {
        opacity: 1
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        -o-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        -o-transformm: scale(1);
    }
}

@-moz-keyframes slideShow {
    0% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    5% {
        opacity: 1
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        -moz-transformm: scale(1);
    }
}

@-webkit-keyframes slideShow {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    5% {
        opacity: 1
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        -webkit-transformm: scale(1);
    }
}

@media only screen and (max-width: 860px) {
    .view-demo {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 413px) {
    .product-landing .col-xs-12 {
        margin-bottom: 40px;
    }
    .saas-landing .col-xs-12 {
        margin-bottom: 40px;
    }
}

@media (max-width:991px){
    .col-sm-6{
        margin-bottom: 40px;
    }
}
@media all and (min-width: 412px) and (max-width: 767px) {
    .col-xs-12 {
        width: 56%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 40px;
    }
/*
    .saas-landing .col-xs-12 {
        width: 62%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 40px;
    }
*/
}
